---
import Project from "./utils/Project.astro";
import '../styles/animation.css'

const projects = [
    {
        icon : "assets/tecnicell.jpeg",
        title: "Tecnicell",
        link: "https://github.com/AleSGXRD/Tecnicell",
        linkType: 1,
        description: "Aplicación web desarrollada con el objetivo de gestionar la información en el taller de reparación de celulares Tecnicell, en Cuba. Este proyecto fue mi primera experiencia como freelancer, donde no solo aprendí a utilizar tecnologías como Angular y .NET, sino también a desplegar aplicaciones en un entorno local con Nginx. Además, me permitió adquirir habilidades clave como la gestión de clientes, la mejora de mi lógica de programación al crear componentes, y la capacidad de adaptarme y mejorar gracias a sus feedbacks constantes.",
        technologies: [
            "Angular",
            ".NET",
            "SQL",
            "Tailwind",
            "Nginx"
        ],
        images:[
            '/assets/tecnicell/1.jpg',
            '/assets/tecnicell/2.jpg',
            '/assets/tecnicell/3.jpg',
            '/assets/tecnicell/4.jpg',
            '/assets/tecnicell/5.jpg',
            '/assets/tecnicell/6.jpg',
        ]
    },
    {
        icon : "assets/bluediamond.jpg",
        title: "BlueDiamond",
        link: "https://github.com/AleSGXRD/Bluediamond",
        linkType: 1,
        description: "Aplicación web diseñada para la generación de invoices y estimados dirigidos a los clientes de BlueDiamond, empresa líder en mantenimiento y reparación de piscinas en Estados Unidos. En este proyecto, adquirí conocimientos sobre el uso de librerías de generación de PDF para cumplir con el objetivo principal de la aplicación. Además, implementé Nodemailer para automatizar el envío de correos electrónicos a los clientes y exploré el uso de NestJS para la creación del servidor, lo que me permitió ampliar mis habilidades en el desarrollo backend.",
        technologies: [
            "Angular",
            "NestJS",
            "MySQL",
            "Tailwind",
            "Nginx"
        ],
        images:[
            '/assets/bluediamond/1.jpg',
            '/assets/bluediamond/2.jpg',
            '/assets/bluediamond/3.jpg',
            '/assets/bluediamond/4.jpg',
        ]
    },
    {
        icon : "assets/angelclinic.jpg",
        title: "Angel Clínica",
        link: "https://angelclinica.netlify.app/",
        linkType: 0,
        description: "Página web desarrollada para la clínica Angel en Portugal. Lamentablemente, el proyecto no llegó a su fase final debido a problemas internos en la clínica, lo que llevó a la decisión de abandonarlo. Sin embargo, esta experiencia me permitió aprender a utilizar Astro, aprovechando las ventajas que ofrece este framework, y también me familiaricé con Swiper para la creación de carruseles interactivos. A pesar de no culminarse, este proyecto fue una gran oportunidad para adquirir nuevos conocimientos y habilidades.",
        technologies: [
            "Astro",
            "Tailwind",
            "React",
            "Swiper"
        ],
        images:[
            '/assets/angelclinic/1.jpg',
            '/assets/angelclinic/2.jpg',
            '/assets/angelclinic/3.jpg',
            '/assets/angelclinic/4.jpg',
            '/assets/angelclinic/5.jpg',
            '/assets/angelclinic/6.jpg',
            '/assets/angelclinic/7.jpg',
        ]
    },
    {
        icon : "",
        title: "Arbol Genealógico",
        link: "#",
        linkType: 3,
        description: "Aplicación móvil desarrollada para gestionar el árbol genealógico de los pacientes en un hospital de Cuba. Fue creada en Flutter, siguiendo los requerimientos del cliente para garantizar su accesibilidad en los teléfonos de todos los pacientes. En este proyecto, aprendí a utilizar Flutter y Django, además de adquirir conocimientos sobre el almacenamiento de imágenes en el servidor y el uso de Graphviz para la generación de grafos, los cuales se emplearon para crear informes detallados de los pacientes.",
        technologies: [
            "Flutter",
            "Django",
            "Graphviz",
            "MySQL"
        ],
        images:[
            '/assets/genetica/1.jpg',
            '/assets/genetica/2.jpg',
            '/assets/genetica/3.jpg',
            '/assets/genetica/4.jpg',
            '/assets/genetica/5.jpg'
        ]
    }
]

---

<section id="projects" class=" grid grid-cols-1 px-4 lg:grid-cols-5 max-w-7xl w-full mx-auto justify-center text-gray-100
        gap-8">
    <h3 class="mx-8 lg:mx-4 slide-up text-2xl font-medium text-right">Proyectos</h3>
    <hr class="lg:hidden border-[0.5px] text-zinc-400 mx-8">

    <div class="lg:col-span-4 border-l-[0.5px] border-zinc-400">
        {
            projects.map((project:any)=> (
                <>
                    <Project 
                        {icon}={project.icon}
                        {title}={project.title}
                        {link}={project.link}
                        {linkType}={project.linkType}
                        {description}={project.description}
                        {technologies}={project.technologies}
                        {images}={project.images}
                    />
                    <hr class="border-[0.5px] text-zinc-400 mx-8">
                </>
            ))
        }
    </div>
</section>

<style>

</style>