---
import Project from "./utils/Project.astro";
import Slider from "./utils/Slider.jsx";

const projects = [
    {
        icon : "assets/tecnicell.jpeg",
        title: "Tecnicell",
        link: "https://github.com/AleSGXRD/Tecnicell",
        linkType: 1,
        description: "Aplicación web con el objetivo de gestionar la información en el taller de reparación de celulares Tecnicell en Cuba. Esté proyecto fue mi primer proyecto como freelancer donde no solo aprendí a utilizar tecnologías como Angular y .NET, también aprendi a desplegar apps en local con Nginx, a tratar con clientes, e incluso mejorar mi lógica al crear componentes y demas gracias a su feedbacks. ",
        technologies: [
            "Angular",
            ".NET",
            "SQL",
            "Tailwind",
            "Nginx"
        ],
        images:[
            '/assets/tecnicell/1.jpg',
            '/assets/tecnicell/2.jpg',
            '/assets/tecnicell/3.jpg',
            '/assets/tecnicell/4.jpg',
            '/assets/tecnicell/5.jpg',
            '/assets/tecnicell/6.jpg',
        ]
    },
    {
        icon : "assets/bluediamond.jpg",
        title: "BlueDiamond",
        link: "https://github.com/AleSGXRD/Bluediamond",
        linkType: 1,
        description: "Aplicación web para la generación de invoices y estimados a los clientes de la empresa BlueDiamond, líder en mantenimiento y reparación de piscinas en Estados Unidos. Donde aprendí sobre librerías de generación de PDF para lograr el objetivo principal de la app, Nodemailer para enviar correos a los clientes para automatizar este proceso e incluso aprendí a usar NestJS para la creación del servidor. ",
        technologies: [
            "Angular",
            "NestJS",
            "MySQL",
            "Tailwind",
            "Nginx"
        ],
        images:[
            '/assets/bluediamond/1.jpg',
            '/assets/bluediamond/2.jpg',
            '/assets/bluediamond/3.jpg',
            '/assets/bluediamond/4.jpg',
        ]
    },
    {
        icon : "assets/angelclinic.jpg",
        title: "Angel Clínica",
        link: "https://angelclinica.netlify.app/",
        linkType: 0,
        description: "Página web para la clínica Angel en Portugal, tristemente el proyecto no se llevo hasta el final por problemas en la clinica por lo que decidieron abandonar el proyecto. Sin embargo con este proyecto aprendí a utilizar Astro aprovechar las ventajas que este ofrece, además donde aprendi a usar Swiper para hacer couroseles.",
        technologies: [
            "Astro",
            "Tailwind",
            "React",
            "Swiper"
        ],
        images:[
            '/assets/angelclinic/1.jpg',
            '/assets/angelclinic/2.jpg',
            '/assets/angelclinic/3.jpg',
            '/assets/angelclinic/4.jpg',
            '/assets/angelclinic/5.jpg',
            '/assets/angelclinic/6.jpg',
            '/assets/angelclinic/7.jpg',
        ]
    },
    {
        icon : "",
        title: "Arbol Genealógico",
        link: "#",
        linkType: 3,
        description: "Applicación movil para llevar el árbol genealógico de los pacientes en un hospital de Cuba. Desarrollado en Flutter por requerimientos del cliente con que sea accessible para todos los pacientes principalmente en sus telefonos, en este proyecto aprendí a utilizar Flutter y Django, ademas aprendi sobre el almacenamiento de imagenes en el servidor asi como utilizar Graphviz para la generacion de grafos para generar informes de los pacientes.",
        technologies: [
            "Flutter",
            "Django",
            "Graphviz",
            "MySQL"
        ],
        images:[
            '/assets/genetica/1.jpg',
            '/assets/genetica/2.jpg',
            '/assets/genetica/3.jpg',
            '/assets/genetica/4.jpg',
            '/assets/genetica/5.jpg'
        ]
    }
]

---

<section class="grid grid-cols-1 lg:grid-cols-5 max-w-7xl w-full mx-auto justify-center text-gray-100
        gap-8">
    <h3 class="text-2xl font-medium text-right">Proyectos</h3>
    <div class="lg:col-span-4 border-l-[0.5px] border-zinc-400">
        {
            projects.map((project:any)=> (
                <>
                    <Project 
                        {icon}={project.icon}
                        {title}={project.title}
                        {link}={project.link}
                        {linkType}={project.linkType}
                        {description}={project.description}
                        {technologies}={project.technologies}
                        {images}={project.images}
                    />
                    <hr class="border-[0.5px] text-zinc-400 mx-8">
                </>
            ))
        }
    </div>
</section>

<style>

</style>