---
import Slider from "./Slider";

const { icon,title, link, linkType, description, technologies, images } = Astro.props;

---

<article class="grid grid-cols-1 lg:grid-cols-2 w-full gap-8 p-8  ">
    <div class="flex flex-col gap-4">
        <div class="flex flex-row gap-4 items-center">
            <img src={icon} alt="" class="rounded-sm h-8 w-8">
            <a class="flex flex-row gap-2 tracking-tight text-lg hover:text-[#FF7D5C] transition-colors " href={link}>
                {title}
                {
                    linkType == 0 ?
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-3 -3 24 24"><path fill="currentColor" d="M3.19 9.345a.97.97 0 0 1 1.37 0a.966.966 0 0 1 0 1.367l-2.055 2.052a1.93 1.93 0 0 0 0 2.735a1.94 1.94 0 0 0 2.74 0l4.794-4.787a.966.966 0 0 0 0-1.367a.966.966 0 0 1 0-1.368a.97.97 0 0 1 1.37 0a2.9 2.9 0 0 1 0 4.103l-4.795 4.787a3.88 3.88 0 0 1-5.48 0a3.864 3.864 0 0 1 0-5.47L3.19 9.344zm11.62-.69a.97.97 0 0 1-1.37 0a.966.966 0 0 1 0-1.367l2.055-2.052a1.93 1.93 0 0 0 0-2.735a1.94 1.94 0 0 0-2.74 0L7.962 7.288a.966.966 0 0 0 0 1.367a.966.966 0 0 1 0 1.368a.97.97 0 0 1-1.37 0a2.9 2.9 0 0 1 0-4.103l4.795-4.787a3.88 3.88 0 0 1 5.48 0a3.864 3.864 0 0 1 0 5.47L14.81 8.656z"/></svg>
                    :
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 0a12 12 0 1 0 0 24a12 12 0 0 0 0-24m3.163 21.783h-.093a.5.5 0 0 1-.382-.14a.5.5 0 0 1-.14-.372v-1.406q.01-.701.01-1.416a3.7 3.7 0 0 0-.151-1.028a1.83 1.83 0 0 0-.542-.875a8 8 0 0 0 2.038-.471a4.05 4.05 0 0 0 1.466-.964c.407-.427.71-.943.885-1.506a6.8 6.8 0 0 0 .3-2.13a4.1 4.1 0 0 0-.26-1.476a3.9 3.9 0 0 0-.795-1.284a2.8 2.8 0 0 0 .162-.582q.05-.3.05-.604q0-.392-.09-.773a5 5 0 0 0-.221-.763a.3.3 0 0 0-.111-.02h-.11q-.346.004-.674.111a5 5 0 0 0-.703.26a7 7 0 0 0-.661.343q-.322.191-.573.362a9.6 9.6 0 0 0-5.143 0a14 14 0 0 0-.572-.362a6 6 0 0 0-.672-.342a4.5 4.5 0 0 0-.705-.261a2.2 2.2 0 0 0-.662-.111h-.11a.3.3 0 0 0-.11.02a6 6 0 0 0-.23.763q-.08.382-.081.773q0 .304.051.604t.16.582A3.9 3.9 0 0 0 5.702 10a4.1 4.1 0 0 0-.263 1.476a6.9 6.9 0 0 0 .292 2.12c.181.563.483 1.08.884 1.516c.415.422.915.75 1.466.964c.653.25 1.337.41 2.033.476a1.8 1.8 0 0 0-.452.633a3 3 0 0 0-.2.744a2.75 2.75 0 0 1-1.175.27a1.8 1.8 0 0 1-1.065-.3a2.9 2.9 0 0 1-.752-.824a3 3 0 0 0-.292-.382a2.7 2.7 0 0 0-.372-.343a1.8 1.8 0 0 0-.432-.24a1.2 1.2 0 0 0-.481-.101q-.06.002-.12.01a.7.7 0 0 0-.162.02a.4.4 0 0 0-.13.06a.12.12 0 0 0-.06.1a.33.33 0 0 0 .14.242q.14.111.232.171l.03.021q.2.155.382.333q.169.148.3.33q.136.178.231.381q.11.2.231.463c.188.474.522.875.954 1.145c.453.243.961.364 1.476.351q.262 0 .522-.03q.258-.041.515-.091v1.743a.5.5 0 0 1-.533.521h-.062a10.286 10.286 0 1 1 6.324 0z"/></svg>
                }
            </a>
        </div>
        <p class="text-sm text-gray-400">
            {description}
        </p>
        <div class="flex flex-wrap gap-4">
            {
                technologies.map((tech:string) =>(
                    <i class="p-2 px-4 rounded-full bg-[#202020] backdrop-opacity-50 hover:text-[#FF7D5C] transition-colors cursor-default">{tech}</i>
                ))
            }
        </div>
    </div>
    <div>
        <Slider images={images} client:load/>
    </div>
</article>